@charset "UTF-8";
/* CSS Document */

.bannerImage {
	width: 100%;
}
.navbarList li {
	margin: 5px;
	color: white;
	padding: 5px;
	border-radius: 3px;
}
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
}
.whiteBold {
	color: white;
	font-weight: bold;
}
.navbarList {
	padding: 10px 25px 25px 25px;
	width: 150px;
}
.list-inline li {
	display: inline;
}
.list-inline {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
}
ul {
	list-style-type: none
}
.centerset {
	text-align: center;
}
.center {
	margin: auto;
}
.textincenter {
	Text-align: center;
	Margin: 0% 20% 0% 20%;
}
.textjustify {
	text-align: justify
}
.imagedevil {
	width: 70%;
}
body {
	font-family: sans-serif
}
.textindex {
	color: black
}
.botton {
	padding: 5px 15px;
	background: #ccc;
	border: 0 none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.signUpButton {
	padding: 5px 15px;
	outline-color: black cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
 color:;
	/*	border: 1px solid red;*/
	outline: #f2e07b dotted thick;
}
.navigationBar {
	vertical-align: top;
	border-radius: 10px;
	background-color: #ceba56;
}
.pricelist-table tr:nth-child(even) {
/*	background-color: #ccc;*/
}
.pricelist-table tr td {
	padding: 5px;
}
.pricelist-table th {
	text-align: left;
	padding-right: 20px;
}
.pricelist-table th, .pricelist-table td {
	border-bottom: 1px solid #ddd;
}
.pricelist-table tr:hover {
	background-color: #f5f5f5
}
.pricelist-table {
	width: 400px;
}
.center-table {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.blue {
	color: blue;
}
.cellPadding {
	padding-right: 20px;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: lightyellow;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	color: black;
	border-radius: 10px;
}
.dropdown:hover .dropdown-content {
	display: block;
}
