@charset "UTF-8";
/* CSS Document */

.happy li {
	display: inline;
	margin: 5px;
	Background-color: lightgreen;
	padding: 5px;
	border-radius: 5px;
	
	 
}
a {
	text-decoration: none;
}

.container{
	text-align: center;
}
.center{
	margin: auto;
}
.textincenter{
	Text-align: center;
	Margin: 0% 20% 0% 20%;
}
.textjustify{
	text-align: justify
}
.imagedevil{
	width: 70%;
	
	
}

body {
	background-image: url(../../../../Documents/sign-up.jpg);
}

.textindex{
	color: wheat
}