@charset "UTF-8";
/* CSS Document */

.happy li {
	margin: 5px;
	Background-color: white;
	color:black;
	padding: 5px;
	border-radius: 3px;
	
	 
}

.happy {
	padding: 10px 25px 25px 25px;
}

.list-inline li {
	display: inline;
	margin: 5px;
	Background-color: #ccc;
	color:black;
	padding: 5px;
	border-radius: 5px;
	
	 
}
a {
	text-decoration: none;
	color:black;
}

ul {
	list-style-type: none
}

.centerset{
	text-align: center;
}
.center{
	margin: auto;
}
.textincenter{
	Text-align: center;
	Margin: 0% 20% 0% 20%;
}
.textjustify{
	text-align: justify
}
.imagedevil{
	width: 70%;
	
	
}

body {
/*	background-image: url(../../../../Documents/sign-up.jpg);*/
	font-family: sans-serif
}

.textindex{
	color: black
}


.botton {
	padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
	
}


.navigationBar {
	vertical-align: top;
	border-radius: 10px;
}



.pricelist-table tr:nth-child(even){
	background-color: #ccc;
}

.pricelist-table tr td{
	padding: 5px;
}


.center-table{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	
}


.blue{
	color:blue;
}


.cellPadding {
	padding-right: 20px;
}

